<html>
<head>
<title>CodeBrowser</title>
<style type="text/css">
  {{ styles }}
</style>
</head>
<body>

<h2>Object is type: {{ cb.get_class_name() }}</h2>

<h2>Object looks like: {{ cb }}</h2>

<h2>Class Hierarchy</h2>

{% for source in class_sources %}
  {{ source }}
{% endfor %}


<h2>Object Source</h2>

{{ object_source }}


<h2>Object Attributes</h2>

<ul>
  {% for attr in cb.get_attrs() %}
    <li><a href="/attr/{{ attr[0] }}">{{ attr[0] }}</a></li>
  {% endfor %}
</ul>


<h2>Traceback</h2>

<ul>
  {% for frame in traceback %}
    <li>{{ frame }}</li>
  {% endfor %}
</ul>

</body>
</html>

