<!doctype html>
<html>
<head>

<title>Objex</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<style type="text/css">
{#
    {{ styles }}
#}
</style>
<link href="http://fonts.googleapis.com/css?family=Arvo:regular" rel="stylesheet" type="text/css" />

</head>
<body>

<div class="object-info">
    <h2>Object Info</h2>

    <div class="info-line even"><label>Type</label> {{ cb.get_class_name() }}</div>

    <div class="info-line odd">
        <label class="printed">Printed</label>

        {% if cb.__unicode__() %}
            {{ cb }}
        {% else %}
            <span class="none">None.</span>
        {% endif %}
    </div>

    <div class="info-line even">
        <label>File</label>

        {% if cb.get_file() %}
            {{ cb.get_file() }}
        {% else %}
            <span class="none">None.</span>
        {% endif %}
    </div>

    <div class="info-line odd">
        <label>Docstring</label>

        {% if cb.get_docstring() %}
            <pre class="docstring">
                {{- cb.get_docstring() -}}
            </pre>
        {% else %}
            <span class="none">None.</span>
        {% endif %}
    </div>

    <div class="info-line even">
        <label>Source</label>

        {% if cb.get_source() %}
            <div class="source-code">
                {{ cb.get_source() }}
            </div>
        {% else %}
            <span class="none">None.</span>
        {% endif %}
    </div>

    {#
    <div class="info-line even">
        <label>Source lines</label>

        {% if cb.get_source_lines() %}
            <div class="source-code">
                {{ cb.get_source_lines()[1] }}, {{ cb.get_source_lines()[0] }}
            </div>
        {% else %}
            <span class="none">None.</span>
        {% endif %}
    </div>
    #}

    <div class="info-line odd">
        <label>Trail</label>

        {% for crumb in trail %}
            <a href="/retrace/{{ trail|length - loop.index + 1 }}">
                {% if crumb.__unicode__ %}
                    {{ crumb.__unicode__|safe }}
                {% elif crumb.__name__ %}
                    {{ crumb.__name__|safe }}
                {% else %}
                    object
                {% endif %}
            </a>
            {% if not loop.last %}<span class="separator">&gt;</span>{% endif %}
        {% endfor %}
        {% if trail|length == 0 %}
            <span class="none">None.</span>
        {% endif %}
    </div>

        {#
        <div class="info-line even">
            <label>Repr</label>

            {{ cb.get_repr() }}
        </div>
        #}
    </div>

    <div class="object-info">
        <h2>Class Hierarchy</h2>

        {% for source in class_sources %}
            {{ source }}
            {% if not loop.last %}
                <hr />
            {% endif %}
        {% endfor %}
        {% if class_sources|length == 0 %}
            <span class="none">None.</span>
        {% endif %}
    </div>

    <div class="object-info attributes">
        <div class="column">
            <h2>Attributes</h2>

            <ul>
                {% for attr in attrs %}
                <li class="{% if loop.index%2 == 0 %}odd{% else %}even{% endif %}">
                <a href="/attr/{{ attr[0] }}">{{ attr[0] }}</a> <span class="extras">({{ attr[1] }})</span>
                </li>
            {% endfor %}
            {% if attrs|length == 0 %}
                <li><p class="none">None.</p></li>
            {% endif %}
        </ul>
    </div>

    <div class="column">
        <h2>Private Attributes</h2>

        <ul>
            {% for attr in private_attrs %}
            <li class="{% if loop.index%2 == 0 %}odd{% else %}even{% endif %}">
            <a href="/attr/{{ attr[0] }}">{{ attr[0] }}</a> <span class="extras">({{ attr[1] }})</span>
            </li>
        {% endfor %}
        {% if private_attrs|length == 0 %}
            <li><p class="none">None.</p></li>
        {% endif %}
    </ul>
</div>

<div class="column last">
    <h2>Internal Attributes</h2>

    <ul>
        {% for attr in internal_attrs %}
        <li class="{% if loop.index%2 == 0 %}odd{% else %}even{% endif %}">
        <a href="/attr/{{ attr[0] }}">{{ attr[0] }}</a> <span class="extras">({{ attr[1] }})</span>
        </li>
    {% endfor %}
    {% if internal_attrs|length == 0 %}
        <li><p class="none">None.</p></li>
    {% endif %}
</ul>
    </div>
</div>


{#
<div class="object-info">
    <h2>Traceback</h2>

    <ul>
        {% for frame in traceback %}
            <li>{{ frame }}</li>
        {% endfor %}
    </ul>
</div>
#}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("pre").each(function () {
            var content = $(this).html(),
            first_line = "",
            remaining_lines = "";
            for (var i=0, first=false; i<content.length; i++) {
                if (first) {
                    remaining_lines += content[i];
                } else {
                    if (content[i] === "\n") {
                        first = true;
                    } else {
                        first_line += content[i];
                    }
                }
            }
            $(this).html('<div class="first-line">' + first_line + '</div>');
            $(this).append('<div class="remaining-lines">' + remaining_lines + '</div>');
        });

        $(".first-line").live("click", function () {
            $(this).next().toggle();
        });
    });
</script>

</body>
</html>